* {
    box-sizing: border-box;
}

.wrapper {
    max-inline-size: 1400px;
    margin-inline: auto;
}

body {
    font-family: 'Constantia', serif;
    font-size: 1.2rem;
    min-block-size: 100dvh;
    background-color: #20212e;
}

main {
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    inline-size: fit-content;
    margin-inline: auto; /* This centers the box */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}

h1 {
    color: white;
}

button {
    margin: 10px;
    max-width: fit-content;
    margin-inline: auto;
}

.border {
    border: solid black 5px;
    border-radius: 15px;
    padding: 20px;
    background-color: #203a44;
    height: fit-content;
}

.title {
    border: solid black 5px;
    border-radius: 15px;
    padding: 20px;
    background-color: #203a44;
    margin-block-end: 600px;
    margin-block-start: 100px;
    width: 400px;
    margin-inline: auto;
    display: grid;
    grid-template-rows: auto auto auto;
}